
body {
    margin: none;
    background-color: #7d9daa;
    padding: none;
}

.botao_menu{
    position: fixed;
    width: 4%;
    height: auto;
    top: 5%;
    left:5%;
}/*Fechamento botao_menu*/

.logo{
    position: fixed;
    width: 5%;
    height: auto;
    top: 5%;
    left: 89%;
}/*Fechamento logo*/

.dado1{
    position: fixed;
    width: 10%;
    height: auto;
    top: 25%;
    left: 38%;
}

.dado2{
    position: fixed;
    width: 10%;
    height: auto;
    top: 25%;
    left: 51%;
}

.gire{

}
.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}/*Fechamanto linha*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}/*Fechamento botao*/

.circulo1{
    position: fixed;
    width: 7%;
    height: auto;
    top: 66%;
    left: 33%;
    background-color: #f0e9e9;
    border-radius: 30px;
}
.circulo2{
    position: fixed;
    width: 7%;
    height: auto;
    top: 66%;
    left: 46%;
    background-color: #f0e9e9;
    border-radius: 30px;
}
.circulo3{
    position: fixed;
    width: 7%;
    height: auto;
    top: 66%;
    left: 59%;
    background-color: #f0e9e9;
    border-radius: 30px;
}

.menu-superior{
    width: 100%;
    height: 130px;
    background-color: #114154;
    margin: none;
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 40px;
    margin: 100px;
    text-align: center;
    font-size: 28px;
    background: rgb(240, 238, 238);
    color: #000000;
    border-radius: 10px;


}

button:hover{
    background: rgba(0, 0, 0, 0.406);
    color: #fff;
    border: 2px solid white;
    width: 280px;
    height: 42px;
    transition: width 0.5s, height 0.5s;
    cursor: pointer;
}

button:active{
    background: rgba(78, 195, 224, 0.42)
}


.circulo1:hover, .circulo2:hover, .circulo3:hover{
    border: 3px solid rgb(255, 255, 255);
    width: 120px;
    transition: width 0.5s;
    background: #0000004d;
    cursor: pointer;

}